* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  height: 100%;
  background-color: #010101;
}

.nameSection {
  color: rgb(195, 195, 195);
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding-top: 5%;
  /* width: 100%; */
}

.nameSection .first,
.second,
.third {
  overflow: hidden;
  /* border: 1px solid red; */

  /* height: 135px; */
}

.nameSpan {
  font-weight: 500;
  font-size: 11rem;
  line-height: 100%;
}
.first {
  margin-left: 8%;
  align-self: center;
}
/* border-top: 1px solid rgba(255, 255, 255, 0.116); */
.second {
  align-self: flex-start;
  padding-right: 10px;
  /* padding-top: 1%; */
  margin-top: 1%;
  margin-left: 1.5%;
}
.third {
  /* padding-top: 1%; */
  margin-top: 1%;
  align-self: flex-end;
  margin-right: 1.5%;
}
.box {
  width: 100px;
  height: 100px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #28a92b;
  font-weight: 600;
  color: #fff;
  margin: 0 auto;
}

.split-parent {
  overflow: hidden;
}
.split-child {
  display: inline-block;
}
.text-heading {
  width: 900px;
}

.noise {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 4% !important;
}
