* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
*::selection {
  background-color: #0feb79;
  color: #dad6ca;
}

body {
  width: 100%;
  height: 100%;
  background-color: #010101;
  color: #e6dec6;
  backface-visibility: hidden;
  --sb-track-color: #6c6c6c27;
  --sb-thumb-color: #0cd16b;
  --sb-size: 10px;
}
body::-webkit-scrollbar {
  width: var(--sb-size);
}
body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 16px;
}
body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 16px;
}
@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}

.mask {
  overflow: hidden;
}

.noise {
  width: 100%;
  height: 100%;
  position: fixed !important;
  pointer-events: none;
  opacity: 3.5% !important;
  z-index: 1000;
}

.HomePage {
  z-index: 2;
}
.HomePage .top_Section {
  z-index: 2;
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding-top: 3%;
  position: relative;
  background-color: #010101;
}
.HomePage .top_Section .nameText {
  font-size: 2rem;
  pointer-events: none;
  mix-blend-mode: lighten;
  overflow: hidden;
  user-select: none;
  position: absolute;
  top: 10vh;
}
.HomePage .top_Section .nameText .marquee {
  display: flex;
}
.HomePage .top_Section .nameText .marquee .marquee_inner {
  font-size: 15vw;
  line-height: 0.9;
  display: flex;
  width: fit-content;
  flex: auto;
}
.HomePage .top_Section .nameText .marquee .marquee_inner .marquee_part {
  display: flex;
  align-items: center;
  padding: 0 4px;
  flex-shrink: 0;
  mix-blend-mode: color;
}
.HomePage .top_Section .nameText .marquee .marquee_inner .marquee_part .arrow {
  width: 5vw;
  height: 1vw;
  border-radius: 15px 2px 2px 0;
  background-color: #e6dec6;
  margin: 0 0.1em;
  transform: rotate(180deg);
}
.HomePage .top_Section .bottom {
  position: absolute;
  bottom: 10%;
  padding: 0 2.5%;
  justify-content: space-between;
  width: 100%;
  display: flex;
}
.HomePage .top_Section .bottom .left {
  font-size: 5.5vw;
  width: fit-content;
  font-weight: 500;
  opacity: 90%;
}
.HomePage .top_Section .bottom .left .occup1,
.HomePage .top_Section .bottom .left .occup2 {
  font-size: 5vw;
  cursor: pointer;
  padding-left: 5px;
  padding-right: 5px;
  display: block;
  z-index: 100;
  height: 6vw;
  overflow: hidden;
  position: relative;
}
.HomePage .top_Section .bottom .left .occup1 .secondP,
.HomePage .top_Section .bottom .left .occup2 .secondP {
  position: absolute;
  bottom: -100%;
}
@media screen and (max-width: 800px) {
  .HomePage .top_Section .bottom .left .occup1,
  .HomePage .top_Section .bottom .left .occup2 {
    font-weight: 200;
    font-size: 2rem;
  }
}
.HomePage .top_Section .bottom2 {
  position: absolute;
  bottom: 9%;
  justify-content: center;
  align-items: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5%;
  opacity: 50%;
}
.HomePage .top_Section .bottom2 .scroll_icon {
  font-size: 1.5vw;
}
.HomePage .top_Section .halo-canvas {
  touch-action: auto !important;
  background-color: transparent !important;
  z-index: -1;
  position: absolute !important;
  bottom: 0;
  right: 0;
  cursor: pointer;
  width: 35vw !important;
  height: 45vh !important;
}
@media screen and (max-width: 1000px) {
  .HomePage .top_Section {
    height: 90vh !important;
  }
}
@media screen and (max-width: 500px) {
  .HomePage .top_Section {
    height: 65vh !important;
  }
}
.HomePage .aboutMe {
  margin: auto;
  width: 100%;
  height: 100vh;
  display: grid;
  align-items: center;
  margin-top: 5%;
}
.HomePage .aboutMe .introText {
  margin-top: -7%;
  font-size: 3vw;
  line-height: 10vh;
  font-weight: 400;
  color: rgba(230, 222, 198, 0.8705882353);
  scale: 0.9;
}

.nameSection .first,
.second,
.third {
  overflow: hidden;
}

.childrenWrapper {
  overflow: hidden;
}

.transitionChildren {
  overflow: hidden;
}

.loadingSection {
  color: #e6dec6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  background-color: rgb(9, 65, 36);
  z-index: 100;
}

.nameSpan {
  -webkit-font-smoothing: subpixel-antialiased;
  transform: translateZ(0);
  font-weight: 500;
  font-size: clamp(20rem, 8.8889rem + 17.7778vw, 30rem);
  line-height: 100%;
}
@media screen and (max-width: 1000px) {
  .nameSpan {
    font-size: clamp(10.5rem, 4.507rem + 24.7887vw, 20rem);
  }
}

.first {
  border: 1px solid red;
  visibility: hidden;
  align-self: center;
  overflow: hidden;
  height: 40vh;
  width: 100%;
  position: relative;
  display: contents;
  overflow: hidden;
}

.letter {
  width: auto; /* Adjust the width and height as needed */
  height: auto;
  border-radius: 50%;
  background-color: transparent; /* Change this to your desired fill color */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.letter::before {
  content: "";
  text-align: center;
  line-height: 600%;
  font-size: 1rem;
  font-weight: 100;
  position: absolute;
  top: 10%; /* Adjust the position of the inner circle */
  left: 28%; /* Adjust the position of the inner circle */
  width: 43%; /* Adjust the size of the inner circle */
  height: 65%;
  border-radius: 30%;
  background-color: #000;
  z-index: -2 !important;
}

.nickname {
  position: absolute;
}
.nickname:nth-child(1) {
  z-index: 12;
  position: relative;
  color: transparent;
  background-color: transparent;
  -webkit-text-stroke: 1.5px #e6dec6;
}
@media screen and (max-width: 1000px) {
  .nickname:nth-child(1) {
    -webkit-text-stroke: 1px #e6dec6;
  }
}

.split-parent {
  overflow: hidden;
}

.split-child {
  display: inline-block;
}

.text-heading {
  width: 900px;
}

.counter-mask {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 20vh;
  text-align: center;
  display: flex;
  width: 15vw;
  overflow: hidden;
  text-align: center;
}
.counter-mask .container {
  width: auto;
  height: auto;
  position: relative;
}
.counter-mask .counter {
  visibility: hidden;
  font-size: 10vw;
  font-weight: 100;
  display: flex;
  align-items: baseline;
  justify-content: center;
  position: absolute;
  font-style: italic;
  max-width: 500px;
}
.counter-mask .counter span {
  font-size: 2rem;
}
@media screen and (max-width: 1000px) {
  .counter-mask {
    width: 28.5vw;
    height: 25vh;
  }
  .counter-mask .counter {
    font-size: 25vw;
  }
}
@media screen and (max-width: 720px) {
  .counter-mask {
    width: 55vw;
    height: 35vh;
  }
  .counter-mask .counter {
    font-size: 45vw;
  }
}
@media screen and (max-width: 600px) {
  .counter-mask {
    width: 62.5vw;
    height: 40vh;
  }
  .counter-mask .counter {
    font-size: 50vw;
  }
}
@media screen and (max-width: 400px) {
  .counter-mask {
    width: 70vw;
    height: 30vh;
  }
  .counter-mask .counter {
    font-size: 50vw;
  }
}

nav {
  background-color: rgba(0, 0, 0, 0.2274509804);
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 9;
  mix-blend-mode: difference;
  color: #e6dec6;
  display: flex;
  justify-content: center;
  overflow-x: clip;
}
nav .wrapper {
  width: 100%;
  height: 47.5px;
  display: flex;
  border: none;
  align-items: center;
  justify-content: space-between;
  padding-left: 2.5%;
  padding-right: 2.5%;
}
nav .wrapper a {
  text-decoration: none;
  color: #dad6ca;
}
nav .wrapper .chocos {
  font-size: 1.5rem;
}
nav .wrapper .location {
  display: flex;
  align-items: center;
  gap: 3px;
  font-size: 1.5rem;
}
nav .wrapper .location .icon {
  position: relative;
  bottom: 2px;
}
nav .wrapper ul {
  list-style-type: none;
  display: flex;
  gap: 30px;
}
nav .wrapper ul li {
  font-size: 1.5rem;
  cursor: pointer;
  padding-left: 5px;
  padding-right: 5px;
  display: block;
  z-index: 100;
  height: min-content;
  overflow: hidden;
  position: relative;
}
nav .wrapper ul li:hover .secondP {
  color: #0cd16b;
}
nav .wrapper ul li .secondP {
  position: absolute;
  bottom: -100%;
}
@media screen and (max-width: 800px) {
  nav .wrapper ul li {
    font-weight: 200;
    font-size: 2rem;
  }
}
@media screen and (max-width: 800px) {
  nav .wrapper ul {
    opacity: 0;
    width: 100%;
    height: calc(100vh - 47.5px);
    position: absolute;
    right: 0;
    top: 47.5px;
    backdrop-filter: blur(8px);
    background-color: rgba(1, 1, 1, 0.8196078431);
    z-index: 9;
    transform: translateX(100%);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8%;
  }
}
nav .wrapper hr {
  background-color: #dad6ca;
  height: 1.5px;
  width: 95%;
  border: none;
  border-radius: 10px;
  bottom: 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@media screen and (max-width: 800px) {
  .navOpen {
    background-color: #010101 !important;
    mix-blend-mode: normal;
  }
}

.hamburger {
  display: none;
}
@media screen and (max-width: 800px) {
  .hamburger {
    display: block;
  }
}

/* Hide scrollbar for IE, Edge and Firefox */
.hideScrollbar {
  height: 100vh;
}